# R specific gitignores
.Rprofile
.Rhistory
.Rprofile
.Ruserdata
.DS_Store
*.Rproj
.Rproj.user
*.egg-info

## ignore the renv initialization file
initialize_renv.R

## ignore filtered CLIF tables stored as Rdata
*.RData

#ignore source CLIF_ files 
CLIF_*.parquet
CLIF_*.csv
CLIF_*.fst

#ignore the identifier app
CLIF_cohort_identifier*

# ignore file used to initialize renv when creating the template
initialize_renv.R

# ignore filtered CLIF tables stored as Rdata
*.RData

# ignore pdf reports and rendered html
*.pdf
*.html



# ignore Claude documentation files
claude.md
CLAUDE.md
.claude
.vscode/
.serena
context7.json

# directories
/reference
/app
/venv
.crrt/
/logs
/aggregate
/code_archive
__pycache__/
code/output/
/output
/output_old
config/config_mimic.json
config/config_ucmc.json
config/config.json